name: Generaci칩n autom치tica de documentaci칩n

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Instalar MkDocs y Tema Material y Puglins 
        run: pip install -r requirements.txt

      - name: Generar y desplegar documentaci칩n
        run: mkdocs gh-deploy --force
